<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Monocraft.ttf</string>
		<string>LibreBaskerville-Bold.ttf</string>
		<string>LibreBaskerville-Italic.ttf</string>
		<string>LibreBaskerville-Regular.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>AtkinsonHyperlegibleNext-Bold.ttf</string>
		<string>AtkinsonHyperlegibleNext-ExtraBold.ttf</string>
		<string>AtkinsonHyperlegibleNext-Medium.ttf</string>
		<string>AtkinsonHyperlegibleNext-Regular.ttf</string>
		<string>AtkinsonHyperlegibleNext-SemiBold.ttf</string>
	</array>
</dict>
</plist>
